<h2>Тест</h2>

<div *ngFor="let q of questions" class="question-block">

  <p><b>{{ q.question_text }}</b></p>

  <div *ngIf="q.type_question === 'SINGLE'">
    <div *ngFor="let a of q.answers">
      <label>
        <input type="radio" [name]="'question' + q.id_question">
        {{ a.answer_text }}
      </label>
    </div>
  </div>

  <div *ngIf="q.type_question === 'MULTIPLE'">
    <div *ngFor="let a of q.answers">
      <label>
        <input type="checkbox">
        {{ a.answer_text }}
      </label>
    </div>
  </div>

  <div *ngIf="q.type_question === 'TEXT'">
    <input type="text" placeholder="Введите ответ">
  </div>
</div>
