<div class="register-container">
  <h2>Создать аккаунт</h2>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
    <br>
    Переадресация во вход...
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" *ngIf="!successMessage">
    <div class="form-group">
      <label for="first_name">Имя *</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        [(ngModel)]="registerData.first_name"
        required
        minlength="2"
        #firstName="ngModel"
        [class.is-invalid]="firstName.invalid && firstName.touched"
      >
      <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
        Обязательно укажите имя
      </div>
    </div>

    <div class="form-group">
      <label for="last_name">Отчество *</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        [(ngModel)]="registerData.last_name"
        required
        minlength="2"
        #lastName="ngModel"
        [class.is-invalid]="lastName.invalid && lastName.touched"
      >
      <div *ngIf="lastName.invalid && lastName.touched" class="invalid-feedback">
        Обязательно укажите отчество
      </div>
    </div>

    <div class="form-group">
      <label for="surname">Фамилия (Необязательно)</label>
      <input
        type="text"
        id="surname"
        name="surname"
        [(ngModel)]="registerData.surname"
        #surname="ngModel"
      >
    </div>

    <div class="form-group">
      <label for="email">Почта *</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="registerData.email"
        required
        email
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
      >
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        Требуется действительный адрес электронной почты
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль *</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="registerData.password"
        required
        minlength="6"
        #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      >
      <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
        Пароль должен состоять как минимум из 6 символов
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Подтверждение пароля *</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        #confirmPwd="ngModel"
        [class.is-invalid]="(confirmPwd.touched && !passwordsMatch())"
      >
      <div *ngIf="confirmPwd.touched && !passwordsMatch()" class="invalid-feedback">
        Пароли не совпадают
      </div>
    </div>

    <button
      type="submit"
      [disabled]="registerForm.invalid || !passwordsMatch() || isLoading"
      class="btn-primary"
    >
      {{ isLoading ? 'Creating account...' : 'Создать' }}
    </button>
  </form>

  <p class="login-link">
    У вас уже есть аккаунт?
    <a routerLink="/login">Войти</a>
  </p>
</div>
